@include tablet{
    .contenedor-card{
        @include grid(3,2rem);
        position: relative;
        //gap: 6rem;
    }
}

@media (max-width: 768px) {
    .contenedor-card {
        display: grid;
        gap: 5rem 2rem;
    }
}
.contenedor-card{
    margin-bottom: 5rem;
}



.card{
    
    background-color:  lighten($rosado, 2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    //width: 350px;esto rompe las medidas del ancho
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 16px 17px -6px rgba(0,0,0,0.33);
    transition: 0.5s;

    
    
    .imagen-card {
         //margin-left: 2.6rem;
        // border-radius: 50%;
        // height: 20rem;
        position: absolute;
        
        top: 0;
        width: 100%;
        height: 220px;
        border-radius: 12px;
        transition: 0.5s;
        overflow: hidden;
        
        img{
            //padding: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        
    }
    
    .contenido-card {
        position: absolute;
        top: 200px;
        width: 100%;
        padding: 0 3rem;
        height: 3rem;
        //overflow: hidden;
        text-align: center;
        transition: 0.5s;
        
    }
    .contenido-card h2{
        color: $blanco;
        overflow: auto;
    }
    .contenido-card p{
        overflow: hidden;
        height: 1rem;
    }

    &:hover{
        height: 500px;

        .card{
            gap: 0 0 8rem 0;
        }
        
        .imagen-card{
        top: -45px;
        scale: 0.75;
        box-shadow: 0 15px 45px rgba(0 0 0 / 50%);
        }

        .contenido-card {
            top: 150px;
            height: 250px;

            & p{
                top: 100px;
                height: -webkit-fill-available;
            }
        }
    }

}
