.no-webp .inicio{
    background-image: url(../img/donacion.jpg) no-repeat;
}
.webp .inicio{
    background-image: url(../img/donacion.webp) no-repeat; 
}
.header-base {
   // background-color: transparent;

   
    // min-height: 100vh;
    // background-size: cover;
    // background-position: center;
    h1{
        color: $blanco;
      margin: 0 0 2.5rem 0;
    }

    //padding: .5rem 5%;
    .logo1{
      
        padding: 1px;
    }
    .logo{
        width: 100%;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: .5s;
        
    }
    .logo:hover{

       
        border: 2px solid  $rosado;
        box-shadow: 0 0 10px  $rosado, 0 0 40px $rosado, 0 0 70px $rosado;
    }
    

}
.emp{
    
        
        filter:drop-shadow(0 0 15px #fff);
        //text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 70px #fff;

}
.barra-base{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(133, 2, 255, 0.146);
        backdrop-filter: blur(10px);
        z-index: -1;
    }
}

.inicio .overlay{
    position: absolute;
       // background: rgb(85,0,255);
        background: linear-gradient(270deg, rgb(85 0 255 / 30%) 0%, rgb(255 0 229 /50%) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //border-image: fill 0 linear-gradient(#0001,#000000bc);
}
.contenedor.inicio{
    background-position: center center;
    background-size: cover;
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
     
 }.contenido-imagen{
    border-radius: 5px solid $blanco;
    padding: 20px;
    width: 63rem;
    background: rgb(255 255 255 /10%);
    backdrop-filter: blur(10px);
    @include tablet{
        //width: 100vh;
    }
}




 
