.no-webp .imagen-prueba{
    background-image: url(../img/2024.jpg);
}
.webp .imagen-prueba{
    background-image: url(../img/2024.webp); 
}

 .prueba{
    background: gradient(355deg, #281c1c, rgba(0, 0, 0, 0.714));
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}